<!-- Kontakt Start -->
<a name="kontakt"></a>
<section id="kontakt">
  <div class="container">

    <!-- Intro -->
    <div class="row">
      <div class="section-title">
        <h2>Kontakt</h2>
	<p>Du kan kontakte os og høre mere, eller booke os på:</p>
	<p><i class="fa fa-envelope icon-gradient"></i> kontakt@cybernauterne.dk</p>
	<p><i class="fa fa-phone icon-gradient"></i> +45 89 88 59 79</p>
	<p><i class="fab fa-twitter icon-gradient"></i> <a href="https://twitter.com/cybernauterne">@cybernauterne</a></p>
      </div>
    </div>
  </div>
</section>
