<!-- Materialer Start -->
<section id="materialer">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>MATERIALER</h2>
          </div>
	  <div class="materialer-items">
	    {{ range (where .Data.Pages "Section" "materialer").ByWeight }}
	    <div class="row">
	      <div class="materialer-icon col-1 col-sm-1">
		<a href="{{ .Params.attachment }}"><i class="fa fa-file-{{ .Params.filetype }} icon-gradient"></i></a>
	      </div>
	      <div class="col-11 col-sm-11">
	      	<a href="{{ .Params.attachment }}"><h4>{{ .Params.title }}</h4></a>
		<p>{{ .Params.summary }}</p>
	      </div>
	    </div>
	    {{ end }}
	  </div>
	</div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
	<div class="block">
          <img src="img/mariner.jpg" alt="Img">
	</div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>
