<!-- Workshops Start -->
<a name="workshops"></a>
<section id="workshops">
  <div class="container">

    <!-- Intro -->
    <div class="row">
      <div class="section-title">
        <h2>{{ .Site.Data.workshops.title }}</h2>
      </div>
    </div>

    <!-- Content -->
    <div class="row">
      {{ range .Site.Data.workshops.content }}
      <div class="col-sm-6 col-md-3">
        <div class="workshops-item">
          <i class="{{ .icon }} icon-gradient"></i>
          <h4>{{ .name }}</h4>
          <p>{{ .text }}</p>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
