<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>{{ .Site.Params.wrapper.title }}</h2>
            <p>{{ .Site.Params.wrapper.italic }}</p>
          </div>
	  <div>
            <p>Vi er specialiseret i at formidle til folk, der ikke er it-nørder eller har specielle tekniske færdigheder. Vi bruger inddragelse, kreative metoder og åbne workshop-formater til at indføre folk i alt fra falske nyheder, privatliv på nettet, algoritmernes magt, omgangsform på de sociale medier og sikkerhedstips til at beskytte sig mod hackere og it-kriminelle.</p>
	    <p>Fælles for os er en kærlighed til teknologi kombineret med en kritisk tilgang til den digitale udvikling.</p>
	  </div>
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="img/mercury.png" class="wrapper-img" alt="Img">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>
