<!DOCTYPE html>
<html>
<head>
	{{ partial "head.html" . }}
</head>
<body>

	{{ partial "header.html" . }}

	<div class="profil">
	  <!-- Wrapper Start -->
	  <section id="page" style="border: 1px dotted #ddd;">
	    <div class="container">
	      <div class="row">
		<div class="col-md-4 col-sm-4">
	            <img src="/{{ .Params.image }}" alt="{{ .Params.title }}" class="img-fluid profilside-billede" />
		</div>
		<div class="profil-content col-md-8 col-sm-8">
		  <div>
	            <h1>{{ .Params.title }}</h1>
	            {{ .Content }}
		  </div>
		</div>
	      </div>
	    </div>
	  </section>
	</div>
	<p class="center-text" style="padding: 30px;">
	  <a href="{{ $.Site.BaseURL }}">Tilbage til forsiden</a>
	</p>

	{{ if and (isset .Site.Params "call") (.Site.Params.call.enable) }}
		{{ partial "call-to-action.html" . }}
	{{ end }}

	{{ partial "footer.html" . }}
</body>
</html>
