<!DOCTYPE html>
<html>
<head>
	{{ partial "head.html" . }}
</head>
<body>

	{{ partial "header.html" . }}

	<div class="post">
	  <!-- Wrapper Start -->
	  <section id="page" style="border: 1px dotted #ddd;">
	    <div class="container">
	      <div class="row">
	        <div id="page-content" class="col-md-8 col-sd-8">
	          <h1>{{ .Params.title }}</h1>
	          {{ .Content }}
	        </div>
		<div id="page-sidebar" class="col-md-4 col-sd-4">
		  {{ if .Params.image }}
		     <img src="/{{ .Params.image }}" />
		  {{ end }}
		</div>
	      </div>
	    </div>
	  </section>
	</div>
	<p class="center-text" style="padding: 30px;">
	  <a href="{{ $.Site.BaseURL }}">Tilbage til forsiden</a>
	</p>

	{{ if and (isset .Site.Params "call") (.Site.Params.call.enable) }}
		{{ partial "call-to-action.html" . }}
	{{ end }}

	{{ partial "footer.html" . }}
</body>
</html>
